
<ul class="tab-list">
    <li class="active"><a class="tab-control" href="#tab-1">Myself</a></li>
    <li><a class="tab-control" href="#tab-2">Education</a></li>
    <li><a class="tab-control" href="#tab-3">Hobby</a></li>
</ul>
    <div class="tab-panel active" id="tab-1">
        <div class="row">
            <div class="col-md-4">
                <img id="self" src="./img/self.jpg">
            </div>
            <div class="col-md-4">
                <p class="selfIntro">Hi, This is Qun Yan</p>
                <p class="selfIntro">A front end developer</p>
                <p class="selfIntro">Welcome to my home page</p>
            </div>
        </div>

    </div>
    <div class="tab-panel" id="tab-2">
        <img id="RU"  src="./img/rutgers.png">
        <p class="education">I got my master degree at Rutgers in 2016</p>
        <p class="education">I love this place</p>
    </div>
        </div>
    </div>
    <div class="tab-panel" id="tab-3">
        <p> I'm a...</p>
        <div class="row">
            <div class="col-md-4">
                <p class="hobby">Poker Player</p>
                <img id="poker" src="./img/poker.jpg">
            </div>
            <div class="col-md-4">
                <p>Basketball Fan</p>
                <img id="curry" src="./img/curry.jpg">
            </div>
            <div class="col-md-4">
                <p>Gamer</p>
                <img id="curry" src="./img/gamer.jpg">
            </div>
        </div>
    </div>
<script src="js/shared/tab.js"></script>

