.navbar-default {
    background-color: black;
    border-color: black;
}

.navbar-default .navbar-nav > li > a:hover {
    color: white;
}

.navbar-default .navbar-brand  {
    font-size: 20px;
}

.navbar-default .navbar-brand:hover {
	color:white;
}

.navbar-default .navbar-nav > .dropdown > ul > li >a {
	
	color:white;
}
.navbar-default .navbar-nav > .dropdown > ul {
	background-color: black;
}

.image {
  height: 600px;
  background: url('../img/njbg.jpg') no-repeat center center;
  background-size: cover;
  text-align: center;
/*  position: relative;*/
/*  top: -100px;*/
}

.image p{
	position: relative;
	top: 150px;
	margin: 0 0 20px 0;
	font-size: 40px;
	color: white;
}

.main {
	height:600px;
	overflow:auto;
}

.page{
	display: inline-block;
}

.img-thumbnail {
	width:200px;
	height: 150px;
}

.row div a {
	margin-top: 100px;
}

.footer{
	height: 200px;
	background-color: black;
	color: white;
}

#info{
	margin-top: 20px;
}

#info a img{
	margin-top: 20px;
}

.PInfo{
	font-size: 14px;
	color:white;
}

.icon img{
	height: 30px;
	width: 30px;
	display: inline-block;
	margin-right:10px;
}

.tab-list li{
	display: inline-block;
	margin-top: 40px;	
}

.tab-control{
	background-color: #222222;
	padding: 15px 25px;
    color: white;
    border: 1px solid black;
    border-radius: 15px;

}

.tab-panel{
	display: none;
}

.tab-panel.active{
	max-width: 940px;
	height: 400px;
	display: block;
	position: relative;
	left: 40px;
	top: 20px;
}

#self{
	height: 400px;
	width: 300px;
}

#RU{
	width:60%;
}

.selfIntro{
	font-family: cursive;
    font-size: 20px;
    vertical-align: center;
    padding-top: 20px;
}

.education{
	font-family: cursive;
	font-size: 20px;
    vertical-align: center;
    padding-top: 20px;
    padding-left: 40px;
}

#tab-3 p{
	font-size: 30px;
	font-family: cursive;
}

#tab-3 img{
	width:300px;
	height: 300px;
}

/* padding-bottom and top for image */
.mfp-no-margins img.mfp-img {
	padding: 50;
}
/* position of shadow behind the image */
.mfp-no-margins .mfp-figure:after {
	top: 50;
	bottom: 50;
}
/* padding for main container */
.mfp-no-margins .mfp-container {
	padding: 0;
}

.api .container {
	width: 100%;
	background-color: #E5C38B;
  font-family: "Roboto", sans-serif;
  margin: 0;
  min-height: 450px;
  height: 80vh;
}
/* css style for clock animation */
.api .container .row {
  min-height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.api .container .row .clock {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background-color: #6DB7C1;
  border: 35px #0E475A solid;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
  position: relative; }
  .api .container .row .clock .hand {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    transform-origin: center bottom;
    border-radius: 40px; }
  .api .container .row .clock .s-hand {
    height: 155px;
    width: 5px;
    background-color: #D85534;
    z-index: 5; }
  .api .container .row .clock .m-hand {
    height: 135px;
    width: 10px;
    background-color: #027C91;
    z-index: 4; }
  .api .container .row .clock .h-hand {
    height: 100px;
    width: 14px;
    background-color: #0E475A;
    z-index: 3; }
  .api .container .row .clock .center {
    background-color: #D85534;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 6; }
.api .container .row .weather{
  text-align: center;
  display: none;
}

.api .container .row .weather img {
  width: 80px;
  height: 80px;
}