<!DOCTYPE html>
<html>
  <head>
    <title><%=title %></title>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script> 
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
      <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
      <link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="/css/login.css" >   
      <link rel="stylesheet" type="text/css" href="/css/signUp.css">
      <link rel="stylesheet" type="text/css" href="/css/style.css">
      <link rel="stylesheet" type="text/css" href="/css/magnific-popup.css">
  </head>
  
  <body ng-app="myApp" ng-controller="mainController">
    <nav class="navbar navbar-default" >
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://192.241.156.87:3000/#/">QY</a>
        </div>

        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-left">
            <li><a ui-sref="home">Home</a></li>
            <li><a ui-sref="photo">Photo</a></li>
            <li><a ui-sref="me">About me</a></li>
            <li><a ui-sref="todo">Todo</a></li>
           
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout" ng-if="logged" ng-click="remove()">Log out</a></li>
            <li><a ui-sref="register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a ui-sref="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          </ul>
        </div>
      </div>
    </nav>
    
    <div id="mainContainer">
      <div ui-view></div>
    </div> 



    <div class="footer" >
      <div class="container">
        <div class="row">
          <div class="col-md-4 text-center">
            <div id="info" >
              <p class="PInfo">{{personalInfo.Name}}</p>
              <p class="PInfo">{{personalInfo.Address}}</p>
              <p class="PInfo">{{personalInfo.Company}}</p>
              <a class="PInfo" href="#" >{{personalInfo.Email}}</a><br>
              <a href="" class="icon">
                <img ng-src="{{personalInfo.googleIcon}}" />
              </a>
              <a href="" class="icon">
                <img ng-src="{{personalInfo.linkedInIcon}}" />
              </a>
              <a href="" class="icon"><img src="img/inIcon.png" /></a>
            </div>

          </div>

        </div>
      </div>
    </div>

    
    <script src="js/app.js"></script>
    <script src="js/login.js"></script>
    <script src="js/register.js"></script>
    <script src="js/controllers/mainController.js"></script>
    <script src="js/controllers/todoController.js"></script>
    <script src="js/services/weather.js"></script>
    <script src="js/shared/tab.js"></script>
    <script src="js/shared/popup.js"></script>
    <script src="js/shared/jquery.magnific-popup.js"></script>
    <script src="js/shared/jquery.magnific-popup.min.js"></script>
    <script src="js/directives/directive-clock.js"></script>
    <script src="js/directives/directive-weather-report.js"></script>
  </body>
</html>