<!DOCTYPE html>
<html>
  <head>
    <title><%=title %></title>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="/css/index.css">
      <link rel="stylesheet" type="text/css" href="/css/magnific-popup.css">

  </head>
  
  <body ng-app="myApp">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://192.241.156.87:3000/#/">YQ</a>
        </div>

        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#/">Menu<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="http://192.241.156.87:3000/#/">Home</a></li>
                <li><a href="http://192.241.156.87:3000/#/about">About me</a></li>
                <li><a href="http://192.241.156.87:3000/#/todo">Todo</a></li>
                <li><a href="/logout">Log out</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="image">
      <div class="container" ng-controller="mainController">
        <div class="row">
          <div class="col-md-12">           
            <p class="welP">{{timeFunc()}}</p>
            <p class="welP"><%=user %></p>
            <p class="welP">{{welcomeInfo}}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="api">
      <div class="container">
        <div class="row">
<!--           <div class="clock-container"> -->
          <div class="col-md-6 col-sm-6 col-xs-12 clock">
            <div class="s-hand hand"></div>
            <div class="m-hand hand"></div>
            <div class="h-hand hand"></div>
            <div class="center"></div>
          </div>
<!--           </div> -->
          <div class="weather col-md-6 col-sm-6 col-xs-12" ng-controller="weatherController">
            <h3>CurrentTemp: {{data.main.temp}}</h3>
            <h3>MinTemp: {{data.main.temp_min}}</h3>
            <h3>MaxTemp: {{data.main.temp_max}}</h3>
            <img ng-src="{{icon}}"></img>
            <h3>Location: {{data.name}}</h3>
            <h3>Sunrise: {{data.sys.sunrise}}</h3>
            <h3>Sunset: {{data.sys.sunset}}</h3>
          </div> 
        </div>
      </div>
    </div>

    <div class="main">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div id="about" ng-view ng-controller="mainController"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer" ng-controller="mainController">
      <div class="container">
        <div class="row">
          <div class="col-md-4 text-center">
            <div id="info" >
              <p class="PInfo">{{personalInfo.Name}}</p>
              <p class="PInfo">{{personalInfo.Address}}</p>
              <p class="PInfo">{{personalInfo.Company}}</p>
              <a class="PInfo" href="#" >{{personalInfo.Email}}</a><br>
              <a href="{{personalInfo.googleLink}}" class="icon">
                <img ng-src="{{personalInfo.googleIcon}}" />
              </a>
              <a href="{{personalInfo.linkedInLink}}" class="icon">
                <img ng-src="{{personalInfo.linkedInIcon}}" />
              </a>
              <a href="#/" class="icon"><img src="img/inIcon.png" /></a>
            </div>

          </div>

        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script> 
    <script src="https://code.angularjs.org/1.2.28/angular-route.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/mainController.js"></script>
    <script src="js/controllers/todoController.js"></script>
    <script src="js/controllers/weatherController.js"></script>
    <script src="js/services/weather.js"></script>
    <script src="js/shared/tab.js"></script>
    <script src="js/shared/popup.js"></script>
    <script src="js/shared/jquery.magnific-popup.js"></script>
    <script src="js/shared/jquery.magnific-popup.min.js"></script>
    <script src="js/shared/clock.js"></script>
  </body>
</html>